.moj-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.kolumna {
    display: flex;
    border: 2px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    margin: 5px;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
}

.one-element {
    display: flex;
    border: 2px solid black;
    padding: 3px;
    margin: 1px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}