<app-game-control (emitedScore)="onEmitedScore($event)"
                (resetEvent)="onResetEvent($event)">
</app-game-control>
<hr>
<!-- <app-even *ngFor="let score in evenNumbers" [number]="score"></app-even>
<app-odd *ngFor="let score in oddNumbers" [number]="score"></app-odd> -->
<div class="moj-flex">
    <div class="kolumna" *ngIf="oddNumbers.length>0">
        <app-odd class="one-element" *ngFor="let n of oddNumbers" [number]="n"></app-odd>
    </div>
    <div class="kolumna" *ngIf="evenNumbers.length>0">
        <app-even class="one-element" *ngFor="let n of evenNumbers" [number]="n"></app-even>
    </div>
</div>
<!-- <div class="moj-flex">
    <div class="kolumna">
        <h3>Flex item 1</h3>
        <h3>Flex item 2</h3>
        <h3>Flex item 3</h3>
    </div>
    <div class="kolumna">
        <h3>Flex item 1</h3>
        <h3>Flex item 2</h3>
        <h3>Flex item 3</h3>
    </div>
</div> -->